<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Cid" value="24726" />
    <add key="Pid" value="9356086" />
    <add key="DeviceId" value="f8cbcb51a49f6e87" />
    <add key="Cookie" value="BS2=undefined; CID=5fa91844ee7ee888174469f18dae49aa; PID=412885c0252a668c235d9dc87fbc70ad; proapp=1" />

    <add key="NueIpCompany" value="507641428" />
    <add key="NueIpId" value="GJ0080" />
    <add key="NueIpPwd" value="wosk2015@#$%yeti" />
    <add key="lat" value="24.123561" />
    <add key="lng" value="120.660932" />
  </appSettings>
</configuration>